<!-- views/index.ejs -->
<%- include('partials/header') %>
<h2>All Posts</h2>
<% if (posts.length > 0) { %>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <a href="/edit/<%= post.id %>" class="button">Edit</a>
                <form action="/delete/<%= post.id %>" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No posts available. Create a new post!</p>
<% } %>
<%- include('partials/footer') %>
